---
import { formatBlogPosts } from "js/utils";
import { getCollection, CollectionEntry } from "astro:content";
import Pagination2 from "@components/Pagination_2.astro";
import Features from "@components/features.astro";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import CategoryCloud from "@components/CategoryCloud.astro";
export async function getStaticPaths({ paginate }) {
  const res = await fetch(
    "http://tailwind-tvg6.onrender.com/api/posts?sort[0]=createdAt%3Adesc&populate=*"
  );
  const data = await res.json();
  return paginate(data.data, {
    pageSize: 3,
  });
}
const { page } = await Astro.props;
const img = page.data.map((item) => {
  return item.attributes.image;
});
const filter = img.filter((item) => {
  if (item.data != null) {
    return item.data;
  }
});

const temp = filter.map((item) => {
  return item.data.attributes;
});

---

<Layout title="blog">
  <Container>
    <div class="grid sm:grid-cols-3 md:grid-cols-3 gap-3">
      {
        page.data.map((item,index) => (
         
          <Features
            href={`/blog/${item.attributes.slug}`}
            description={item.attributes.description}
            title={item.attributes.title}
            
            img={temp[index].url}
          />
        ))
      }
    </div>
    <div
      class="gird sm:grid-cols-3 md:grid-cols-2 lg:gird-cols-2 gap-2 items-center text-center mt-5">
      <Pagination2 prev={page.url.prev} next={page.url.next} />
    </div>
    
  </Container>
</Layout>
