---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import { getCollection, CollectionEntry } from "astro:content";
import CategoryCloud from "@components/CategoryCloud.astro";
import {toSlug } from "js/utils";
export async function getStaticPaths() {
  const res=await fetch('http://tailwind-tvg6.onrender.com/api/posts?sort[0]=createdAt%3Adesc&populate=*');
  const data=await res.json();
  return data.data.map((item) => ({
    params: { slug: item.attributes.slug },
    props: { item },
  }));
}

const { item } = Astro.props;
---

<Layout title="">
  <Container>
    <p class="text-5xl text-center">{item.attributes.title}</p>
    <div class="flex space-x-2 justify-center mt-5">
      <span class="text-xl inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-blue-600 text-white rounded"> <a href={`/category/${item.attributes.category.data.attributes.slug}`}>{item.attributes.category.data.attributes.name}</a></span>
    </div>
    

    <div class="mt-5">
      {item.attributes.content}
    </div>
    <div class="text-center ">
      <p class="px-2">Created by</p>
      <a class="text-blue-700" href={`/author/${item.attributes.createdBy.data.attributes.username}`}>{item.attributes.createdBy.data.attributes.firstname} {item.attributes.createdBy.data.attributes.lastname}</a>
    </div>
  </Container>
  <CategoryCloud></CategoryCloud>
</Layout>
