---
// Components
import Layout from "../../layouts/Layout.astro";
import Error404 from "../../components/error404.astro";
import CategoryCloud from "../../components/CategoryCloud.astro";
import { Markdown } from "@astropub/md";
// Interfaces
import IPost from "../../interfaces/IPost";
import Container from "../../components/Container.astro";

const slug = Astro.params.slug;

// Fetch product data
const response = await fetch(`${import.meta.env.PUBLIC_SERVER_URL}/api/posts?filters[slug][$eq]=${slug}&populate=*`);
const data = await response.json();
let post=null;
var err=false;

if(data.data[0]!=null){
   post = {
    id: data.data[0].id,
    title: data.data[0].attributes.title,
    desctription: data.data[0].attributes.desctription,
    content:data.data[0].attributes.content,
    slug:data.data[0].attributes.slug,
    image: data.data[0].attributes.image.data.attributes.url,
    category:data.data[0].attributes.category.data.attributes.slug,
    categoryName:data.data[0].attributes.category.data.attributes.name,
    createdBy:data.data[0].attributes.createdBy.data.attributes.firstname+' '+data.data[0].attributes.createdBy.data.attributes.lastname,
    createdBySlug:data.data[0].attributes.createdBy.data.attributes.username
  } as IPost
}else{
    err=true
}


---

<Layout title="Post">
  <Container>
  {
    (err&&<Error404/>)
  }
 {
  (!err&& <div class="container d-flex flex-column flex-column-fluid p-10 pb-lg-20 dark:text-white mt-20">
    <p class="text-5xl text-center">{post.title}</p>
      <div class="flex space-x-2 justify-center mt-5">
        <span class="text-xl inline-block py-1 px-2.5 leading-none text-center whitespace-nowrap align-baseline font-bold bg-blue-600 text-white rounded"> <a href={`/category/${post.category}`}>{post.categoryName}</a></span>
      </div>
      
        
      </div>
      <div class="text-center dark:text-white">
        <p class="px-2">Created by</p>
        <a class="text-blue-700" href={`/author/${post.createdBySlug}`}>{post.createdBy}</a>
      </div>

    <CategoryCloud/>
  
  )
 }
 </Container>
 
</Layout>