---
import { log } from "astro/dist/core/logger/core";
import { getCollection, CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Features from "@components/features.astro";
import Pagination2 from "@components/Pagination_2.astro";
import CategoryCloud from "@components/CategoryCloud.astro";
import { formatBlogPosts } from "js/utils";
export async function getStaticPaths({ paginate }) {
  const res = await fetch("http://127.0.0.1:1337/api/posts?populate=*");
  const allPosts = await res.json();
  const category = await fetch("http://127.0.0.1:1337/api/categories");
  const allCategories = await category.json();

  return allCategories.data.map((category) => {
    const filter = allPosts.data.filter(
      (p) => p.attributes.category.data.attributes.slug === category.attributes.slug
    );

   console.log(filter);
   
    
    return paginate(filter, {
      params: { category: category.attributes.slug },
      pageSize: 3,
    });
  });
}
const { page } = Astro.props;
const img = page.data.map((item) => {
  return item.attributes.image;
});
const filter = img.filter((item) => {
  if (item.data != null) {
    return item.data;
  }
});

const temp = filter.map((item) => {
  return item.data.attributes;
});
---

<Layout title="blog">
  <Container>
    <div class="grid sm:grid-cols-3 md:grid-cols-3 gap-3">
      {
        page.data.map((item,index) => (
          <Features
            href={`/blog/${item.attributes.slug}`}
            description={item.attributes.description}
            title={item.attributes.title}
            img={`http://127.0.0.1:1337${temp[index].url}`}
          />
        ))
      }
    </div>
    <div class="gird items-center text-center mt-5">
      <Pagination2 prev={page.url.prev} next={page.url.next} />
    </div>
    <CategoryCloud></CategoryCloud>

  </Container>
</Layout>
